<form>
  {{paper-input label="To"}}
  {{paper-input label="CC"}}
  {{paper-input label="BCC"}}
  {{paper-input label="Subject"}}
  {{paper-input textarea=true label="Message" attr-rows=5}}
  {{#paper-button raised=true type="submit"}}Send{{/paper-button}}
</form>