{{#with model as |email|}}
  <div style="display: flex;">
    <h3 style="margin: 0; margin-top: 1rem;" class="test-email-subject">{{email.subject}}</h3>
    <span style="flex: 1"></span>
    {{#paper-button raised=true class="test-reply" action=(action "reply")}}Reply{{/paper-button}}
  </div>
  <hr>
  <div style="display:flex;">
    <span style="font-weight: bold;">{{email.fromName}}</span>
    <span>&nbsp;{{email.fromEmail}}</span>
    <span style="flex:1"></span>
    <span>{{moment-format email.timestamp}} ({{moment-from-now email.timestamp}})</span>
  </div>
  <p class="test-email-message">{{email.body}}</p>

  {{#if showingReply}}
    {{paper-divider}}

    {{compose-email to=email.fromEmail subject=(concat 'Re: ' email.subject)}}
  {{/if}}

{{/with}}
